/*
RESET
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
fg
*/

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(6,150,136,1) 15%, rgba(219,219,210,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 80%;
    height: 90%;
}

/*
UTILITY
*/

li{
    list-style: none;
}

.avatar-img{
    border-radius: 50%;
    max-width: 50px;

}

i{
    padding: 0 8px;
    color: #b1b1b1;
    font-size: 18px;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: flex-end;
}

.width-100{
    width: 100%;
}

.user-name{
    padding-left: 10px;
}

.user-name p{
    font-size: 14;
}

.sent{
    background-color: #d5f9ba;
    display: flex;
    align-self: flex-end;
   /* padding-right: 10%; */
}

.received{
    background-color: white;
    display: flex;
    align-self: flex-start;
}

#text-msg{
    position: relative;
}

#text-time{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    padding-bottom:3px;
    color: #b6babc;
    font-size: 10px;
}

.text{
    padding:  13px;
    min-width: 45%;
    max-width: 70%;
    margin: 5px;
    border-radius: 10px;
}

.msg-p{
    padding-right: 10%;
    font-size: 13px;
}

h6{
    color: #b6babc;
}

.lens{
    border: 1px solid #f4f4f4;
    padding: 0px 25px;
}

input:focus{
    border: 0;
    outline: 0;
}

/*
SIDEBAR
*/

.sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    
}

.sidebar .user-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px 5px;
}

.sidebar .notification{
    display: flex;
    background-color: #8edafc;
    padding: 10px 15px;
}

.notification .bell-icon{
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

.notification .notification-text{
    padding-left: 10px;
}

.notification-text p{
    font-size: 13px;
    font-weight: 500;
}

.notification-text a{
    color: #537592;
    font-size: 12px;
}

.bell-icon i{
    color: #8edafc;
}

.sidebar .search{
    background-color: #fafafa;
    padding: 5px;
}

.searchbar i{
    vertical-align: middle;
}

.searchbar input{
    line-height: 30px;
    border: 0;
    padding-left: 10px;
}

.searchbar input::placeholder{
    font-size: 12px;
    font-weight: 500;
}

.sidebar .contacts-chat{
    background-color: #ffffff;
    height: 100%;
    overflow-y: scroll;
}

.contacts-chat-time{
    color: #b6babc;
    font-size: 10px;
}

.contacts-chat li:hover{
    cursor: pointer;
}

.active{
    background-color: #e9ebeb;
}

.contacts-chat .contacts-chat-info{
    padding-left: 15px;
}

.sidebar .contacts-chat li{
    display: flex;
    align-items: flex-start;
    min-height: 60px;
    padding: 10px 15px;
    border-bottom: 1px solid #eaeaea;
}

/*
MAIN-BOX
*/

.main-box{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.main-box .main-header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px 5px;
}

.main-box .main-chat-area{
    background-image: url("../../img/mine.jpg");
    min-height: calc(100% - 100px);
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding: 30px 60px;
}

.main-box .main-footer{
    min-height: 50px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

.main-footer .footer-icon{
    width: 10%;
    text-align: center;
}

.main-footer .main-footer-write{
    width: 80%;
    border-radius: 5px;
    border: 1px solid white;
}
.main-footer-write input{
    padding: 2%;
    border: 0;
}